@import "normalize.styl"
@import "fonts.styl"

gris_oscuro = #333333
gris_claro = #818181

a
	text-decoration none
body
	font-family 'Varela Round', sans-serif
	font-size 16px
figure
	margin 0
img
	vertical-align top
.action
	color white
	font-size 1.2em
	margin-right .5em
	// (last-child) Pseudoclase que hace referencia al último elemento ".action"
	&:last-child
		margin-right 0
.actions
	background rgba(black,.3)
	bottom 0
	left 0
	position absolute
	right 0
.author
	color gris_claro
.border-bottom
	border-bottom 1px solid gris_claro 
.button-menu
	color gris_oscuro
	left .5em
	margin-top -10px
	position absolute
	top 50%
/*
Los elementos de tipo "block" se centran solamente
	si tienen un ancho fijo. Se centran con "margin: auto".
*/
.center-block
	margin 0 auto
.center-text
	text-align center
.container
	font-size 0
	padding 1.4rem
	text-align center
.header
	height 3.5em
	//a
	//	display none
	.title
		font-size 1.1em
		line-height 3.5em
		margin 0
		text-align center
.menu
	display none
.name
	color gris_oscuro
.padding
	padding 1em
.playing
	&.small
		width 20em
.relative
	position relative
.right-text
	text-align right
.song
	display inline-block
	font-size 1rem
	margin-bottom 1em
	margin-right 1em
	text-align left
	width 8rem
	&:nth-child(even)
		margin-right 0
	p
		margin .5em 0